body {
    margin: 0;
    background-color:blanchedalmond;
    text-align: center;    
}

#Title {
    font-size: 4rem;
    color: black;
}


#scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}



#mancalaBoard {
    margin: 20px auto 0px;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 350px;
    background-color: burlywood;
    border: solid;
    border-color:red;
}

.goal {
    width: 10%;
    height: 85%;
    margin: auto;
    border: solid;
    border-color: darkblue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerHoles {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#player1Holes, #player2Holes {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
}

.hole {
    border: solid;
    border-color: darkblue;
    border-radius: 50px;
    width: 10%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
